* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{

  width: 800px;
  display: flex;
}

.edit_information{
  /* width: 50%; */
  border: rgb(142, 117, 117);
}


.main-container {
  display: flex;
}
/* main {
  padding: 10px;
} */

.title {
  font-size: 3rem;
  display: grid;
  place-items: center;
}

/* Sidebar */
.sidebar {
  background: rgb(94, 109, 216);
  color: white;
  height: 100vh;
  overflow-y: scroll;
  z-index: 9;
  position: fixed;
}

.top_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
}
.logo {
  font-size: 18px;
  line-height: 0;
}
.bars {
  width: 30px;
}
.hide {
  display: none;
}

.search {
  display: flex;
  align-items: center;
  margin: 10px 0;
  height: 30px;
  padding: 10px;
}
.search input {
  border: none;
  margin-left: 10px;
  border-radius: 5px;
  background: rgb(238, 238, 238);

  color: white;
}

.routes {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.link {
  display: flex;
  color: white;
  gap: 10px;
  padding: 5px 10px;
  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  text-decoration: none;
}
.link:hover {
  border-right:rgb(240, 236, 230);
  color: rgb(209, 208, 208);
  background: rgb(240, 180, 14);

  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.active {
  color: rgb(209, 208, 208);
  background: rgb(240, 180, 14);
}
.link_text {
  white-space: nowrap;
  font-size: 15px;
  
}

.menu {
  display: flex;
  color: white;

  padding: 5px 10px;
  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  justify-content: space-between;
}
.menu_item {
  display: flex;
  gap: 10px;
}
.menu_container {
  display: flex;
  flex-direction: column;
}
.menu_container .link {
  padding-left: 20px;
  border-bottom: #fff 0.5px solid;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.navbar-nav > li{
  padding-left:30px;
  padding-right:30px;
}

Table
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}



.AddDepartment{
  margin-top: 10px;
}
.AddDepartmentbox{
  margin-left: 200px;
  margin-right: 10px;
  margin-top: 100px;

}

#flexbox {
  display: flex;
 margin-top: 25px;
 justify-content: left;
 text-align: left;
}

.manageEmplotee{
  border: 1px solid #e2d2d2;
padding-top: 5px;
  text-align: end;
}

.manageDeparment{
  text-align: start;
}

.atendenceHeader{
  background-color: #fdfafa;

  padding: 5px;
  box-shadow: 5px 10px #fdfafa;
}

.atendenceMain{
  background-color: #fdfafa;

  padding: 5px;
  box-shadow: 5px 10px #fdfafa;
}

.paysliplistMain{
  background-color: #fdfafa;

  padding: 5px;
  box-shadow: 5px 10px #fdfafa; 
}
.addEmployees{
   background-color: #fdfafa;
  padding: 5px;
  
  box-shadow: 5px 10px #fdfafa; 
}


.navbar-toggler{
  display: none;
}

.mainRight {
  width: calc(100% - 250px) !important;
  margin: 0 0 0 auto !important;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.sidebar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}